DB_HOST=localhost
DB_PORT=3306
DB_TDS_NAME=u406992830_admin
DB_TDS_USER=u406992830_admin
DB_TDS_PASS=your_admin_password
DB_PANLE_NAME=u406992830_admin
DB_PANLE_USER=u406992830_admin
DB_PANLE_PASS=your_admin_password
ADMIN_PASSWORD=your_admin_password
SESSION_SECRET=your_session_secret
PORT=3000
