



.intimate-wrap {

    display: flex;

    padding: 70px 40px 95px 85px;

    background-color: #fff;

    position: relative

}




.intimate-con {

    width: 29%;

    display: flex;

    flex-direction: column;

    gap: 55px;

    align-items: flex-start

}




.intimate-con--in {

    width: 100%;

    display: flex;

    flex-direction: column;

    font-size: 14px;

    color: #4b4b4b;

    line-height: 1.5

}




.intimate-con--head {

    font-family: CormorantGaramond, sans-serif;

    font-size: 50px;

    line-height: 1;

    margin-bottom: 10px;

    color: #555

}




.intimate-con--sub {

    color: #707070;

    margin-bottom: 30px

}




.intimate-con--qoute {

    font-size: 14px;

    font-weight: 500;

    color: #bebebe;

    padding-right: 25px;

    display: flex;

    gap: 5px;

    flex-direction: column;

    line-height: 1.5

}




.intimate-con--qoute span {

    font-size: 11px;

    font-style: italic;

    display: block

}




.intimate-img {

    width: 71%;

    display: flex;

    gap: 35px;

    justify-content: flex-end;

    align-items: center;

    position: relative;

    z-index: 2

}




.intimate-img--in {

    display: flex;

    flex-direction: column;

    gap: 10px;

    font-size: 12px;

    font-weight: 500;

    color: #000

}




.intimate-img--in:hover .intimate-img--out {

    clip-path: inset(12px 12px 12px 12px)

}




.intimate-img--in:hover img {

    transform: scale(1.05)

}




.intimate-img--in img {

    width: 100%;

    object-fit: cover;

    transform: scale(1);

    transition: all .8s cubic-bezier(.25, .46, .45, .94)

}




.intimate-img--out {

    transform: translateX(0);

    clip-path: inset(0 0 0 0);

    transition: all .8s cubic-bezier(.25, .46, .45, .94)

}




.intimate-img--cont {

    display: flex;

    flex-direction: column;

    text-align: center;

    gap: 2px

}




.intimate-img--cont-location {

    font-size: 9px;

    font-style: italic;

    color: #4b4b4b

}




.intimate-img__one {

    width: 270px;

    margin-top: -15px

}




.intimate-img__two {

    width: 205px;

    margin-top: 25%

}




.intimate-img__three {

    width: 195px;

    margin-top: 6%

}




.intimate-arrow {

    position: absolute;

    width: 36px;

    height: 36px;

    border-radius: 50%;

    background-color: #020202;

    display: flex;

    align-items: center;

    justify-content: center;

    border: 1px solid #707070;

    font-size: 15px;

    color: #717171;

    z-index: 1;

    top: -20px;

    cursor: pointer;

    left: 0;

    right: 0;

    margin: auto

}




.intimate-arrow span {

    top: 10px;

    position: absolute;

    animation: upanddwown 3s infinite

}




.intimate--map {

    position: absolute;

    width: 80%;

    display: flex;

    left: 0;

    top: 0;

    z-index: -1

}




.intimate--map img {

    width: 100%;

    height: 100%;

    object-fit: contain

}




.intimate--shape {

    position: absolute;

    width: 65%;

    height: 470px;

    background-color: #f4f0ed;

    right: 0;

    bottom: 0;

    border-top-left-radius: 150px;

    z-index: 1

}




.intimate--location {

    position: absolute;

    width: 85%;

    height: 70%;

    bottom: -2px;

    right: 0;

    z-index: 1

}




.intimate--location img {

    width: 100%;

    height: 100%;

    object-fit: contain

}




.intimate-with {

    position: absolute;

    width: 100px;

    height: 45px;

    right: 0;

    bottom: -20px

}




.intimate-with img {

    width: 100%;

    height: 100%;

    object-fit: contain

}




    .intimate-wrap {

        padding: 30px 40px 55px 45px

    }




@media (max-width:1200px) {


    .intimate-wrap {

        padding: 30px;

        flex-direction: column

    }




    .intimate-con,

    .intimate-img {

        width: 100%

    }




    .intimate-con--head {

        margin-top: 0

    }




    .intimate-con--sub {

        margin-bottom: 20px

    }




    .intimate-con {

        gap: 30px

    }




    .intimate--location {

        height: auto

    }




}
@media (max-width:992px) {


    .intimate-img--in {

        width: calc(100% - (35px * 2)/ 3)

    }




    .intimate-img--in img {

        width: 100%;

        height: 100%;

        object-fit: contain

    }




}
@media (max-width:768px) {


    .intimate-img {

        flex-wrap: wrap;

        gap: 30px

    }




    .intimate-img--in {

        margin-top: 0 !important

    }




    .intimate-img--in.intimate-img__one {

        margin: 0;

        width: 100%;

        margin-top: 60px !important;

        border-radius: 10px;

        overflow: hidden

    }




    .intimate-img--in.intimate-img__three,

    .intimate-img--in.intimate-img__two {

        width: calc((100% - 35px)/ 2);

        margin-bottom: 60px

    }




    .intimate--map {

        top: -21%

    }




    .intimate--location {

        bottom: auto;

        top: 22%;

        width: 100%

    }




    .about-in--cont-head,

    .about-team--text,

    .blog-head--main,

    .intimate-con--head {

        font-size: 30px;

        line-height: 30px

    }
}